@font-face {
  font-family: 'cocogoose';
  src: url(../assets/fonts/coco/Cocogoose-Pro-Regular-Trial.ttf);
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #272a31;
}

.container {
  background: url(../assets/bckg.png);
  background-size: cover;
  background-position: center;
  padding: 3em;
  z-index: 1;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  z-index: 2;
}

header {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: .9em;
  border-bottom: 2px solid #d3d3d3;
  -webkit-box-shadow: 0 2px 9px black;
          box-shadow: 0 2px 9px black;
  z-index: 5;
  position: relative;
}

header a {
  color: #272a31;
}

.mobile {
  display: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  padding: 0 1.5em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #272a31;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social ul li {
  padding: 0 1.5em;
  color: #d3d3d3;
}

.social ul li:hover {
  scale: 1.1;
  text-shadow: 0 0 4px white;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

nav, .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

nav h2, .nav-links h2 {
  margin: 0 2.5em;
  cursor: pointer;
}

nav h2 span, .nav-links h2 span {
  color: #ec5242;
}

.nav-links .enroll {
  margin-right: 1em;
  padding: .3em 1.5em;
  font-weight: bold;
  border: 4px solid #ec5242;
}

.nav-links .enroll a {
  color: #ec5242;
  text-decoration: none;
}

.nav-links .enroll:hover {
  scale: 1;
  background: #ec5242;
  text-shadow: 0 0 8px white;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 1.3em;
}

.nav-links .enroll:hover a {
  color: #272a31;
}

.nav-link {
  padding: 1em 3em;
  font-size: 1.3em;
  margin: 0 .2em;
}

.nav-link:hover, nav h2:hover, .nav-links h2:hover {
  cursor: pointer;
  text-shadow: 0 0 3px #272a31;
  scale: 1.1;
  -webkit-transition: .2s;
  transition: .2s;
}

footer {
  text-align: center;
  background: #272a31;
  color: #d3d3d3;
  z-index: 5;
}

footer h4 {
  margin: 0;
  padding: .5em;
}

footer i {
  padding: .5em;
  cursor: pointer;
}

footer i:hover {
  color: white;
}

h3 {
  padding: 1em;
  text-align: center;
  font-family: "cocogoose", Arial, Helvetica, sans-serif;
}

h3 span {
  color: #ec5242;
}

h3 span:hover {
  cursor: pointer;
  text-decoration: underline;
}

h3 i {
  padding: .7em;
  color: #ec5242;
}

.wrapper {
  height: 100%;
  position: relative;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding: 1.5em;
  margin: 1em 3em;
  -webkit-box-shadow: 0 0 15px gray;
          box-shadow: 0 0 15px gray;
}

.options * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .2em;
}

.options h5 {
  color: #ec5242;
  font-family: 'lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  font-size: 1.3em;
  word-wrap: break-word;
}

.options .fa-code {
  padding: 0;
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: rotation .7s infinite ease-in-out;
          animation: rotation .7s infinite ease-in-out;
}

.options p {
  margin: 0;
}

.options i {
  padding: .5em;
  color: #ec5242;
}

.teacher-box {
  margin: 3em;
  padding: .5em;
  -webkit-box-shadow: 0 0 15px gray;
          box-shadow: 0 0 15px gray;
}

.teacher-box h2 {
  color: #ec5242;
  text-align: center;
}

.teachers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
}

.teachers .teacher {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.teachers .teacher .teacher-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.teachers .teacher h4 {
  padding: .5em;
  margin: 0;
  font-family: "cocogoose", Arial;
  font-size: .8em;
}

.teachers .teacher img {
  float: left;
  width: 150px;
  padding: .5em;
}

.teachers .teacher p {
  font-size: .7em;
}

.teachers .teacher small {
  color: #ec5242;
  font-style: italic;
  font-size: .7em;
}

.in-between {
  text-align: center;
  margin: 1em;
  color: #ec5242;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@media (max-width: 767px) {
  .options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    margin: .2em;
  }
  .options .fa-code,
  .options section {
    padding: .2em;
  }
  .teacher-box {
    margin: .2em;
  }
  .teacher-box .teachers {
    padding: 0 0 .2em 0;
  }
  .teacher {
    min-width: 100%;
  }
  .teacher img {
    padding: 0;
  }
  .fa-chevron-right {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .social {
    display: none;
  }
  .nav-link {
    padding: .3em;
  }
  .nav-links {
    padding: .1em 0;
  }
  nav h2, .nav-links h2 {
    margin: .3em;
  }
}
/*# sourceMappingURL=style-enroll.css.map */