$myBlack: #272a31;
$myOrange: #ec5242;
$myGrey: #d3d3d3;
$Coco: 'cocogoose';

@font-face {
    font-family: 'cocogoose', 'arial';
    src: url(assets/fonts/coco/Cocogoose-Pro-Regular-Trial.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: $Coco, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
        
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 main {
     z-index: 2;
 }
// main css
header {
    font-family: 'lato', Arial, Helvetica, sans-serif;
    border-bottom: 2px solid $myGrey;
    box-shadow: 0 2px 9px black;
    z-index: 5;
    position: relative;
}

.mobile {
    display: none;
}

.social {
    display: flex;
    height: 60px;
    padding: 0 1.5em;
    justify-content: end;
    align-items: center;
    background: linear-gradient(to right, $myOrange 10%, $myBlack 70%);
    ul {
        display: flex;
        li {
            padding: 0 1.5em;
            color: $myGrey;
            &:hover {
                scale: 1.1;
                text-shadow: 0 0 4px white;
                cursor: pointer;
                transition: .2s;
            }
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    h2 {
        margin: 0 2.5em;
        color: white;
        text-shadow: 0 0 9px $myBlack;
        cursor: pointer;
    }
 }



.nav-links {
    @extend nav;
    .nav-link {
        padding: 1em 1.5em;
        font-size: 1.3em;
        &:hover {
            cursor: pointer;
            text-shadow: 0 0 3px $myBlack;
            scale: 1.1;
            transition: .2s;
        }
    }
    
    .enroll {
        background-color: $myBlack;
        margin-right: 1em;
        font-weight: bold;
        border: 4px solid $myOrange;
        border-radius: 10px;
        box-shadow: 0 2px 9px black;
        & a {
            color: $myOrange;
            text-decoration: none;
        }
        
    }
    

    .enroll:hover {
        scale: 1;
        background: $myOrange;
        text-shadow: 0 0 8px white;
        transition: .4s;
        font-size: 1.3em;
        & a {
            color: $myBlack;

        }
    }  
}



.about {
    width: 40vw;
    
    border: 3px solid whitesmoke;
    padding: 2em;
    color: $myBlack;
    
    h1 {
        display: block;
        margin: 0;
        padding: .5em;
        color: $myOrange;
        text-align: center;
        font-family: 'lato', Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 3em;
        text-shadow: 0 0 3px black;
        
    }
    h3 {
        font-family: 'lato', Arial, Helvetica, sans-serif;
        text-align: center;
        padding-top: 1.5em;
    }
}
.container {
    background: url(/assets/bckg.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 3em;   
    z-index: 1;
    position: relative;
    // margin-top: 5px;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $myGrey;
    

}

@media (max-width: 767px) {
    .no-mobile,
    nav {
        display: none;
    }
    .mobile {
        color: white;
        display: block;
    }
    .container {
    display: grid;
    place-items: center;
    .about {
        padding: 3em;
        text-align: center;
        h1 {
            text-align: center;
            padding: 0;
        }
        
    }
       
}
}

